body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald' , sans-serif;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: snow;
}
.pozadina{
    position: absolute;
    background-image: url(./backg.jpg);
    z-index: -1;
}
.heder{
    width: 100%;
    height: 50px;
    position: fixed;
    opacity: 0.5;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.pozadinazam{
    display: none;
}
.ikonicazam{
    display: none;
}
.dropdownzam{
    display: none;
}
.logoime{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.linkovi{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.linkovi p{
    padding: 10px 15px;
}
.linkovi p:hover{
    background-color: lightgrey;
}
.kontejner{
    position: absolute;
    top: 300px;
    left: 100px;
    color: snow;
}

@media only screen and (max-width:640px) {

    .pozadina {
        display: none;
    }
    .linkovi{
        display: none;
    }
    .pozadinazam {
        display: block;
        position: absolute;
        z-index: -1;
    }
    .logoime{
        display: flex;
        align-items: center;
        font-size: 25px;
    }
    .ikonicazam{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: snow;
        padding: 10px;
    }
    .ikonicazam i:active{
        background-color: snow;
        color: black;
    }
    .dropdownzam{
        position: absolute;
        display: none;
        border: 1px solid snow;
        color: black;
        flex-direction: column;
        right: 0;
        top: 50px;
        font-size: 20px;
        text-align: center;
    }

    .dropdownzam p{
        padding: 2px 60px;
        background-color: transparent;
        color: snow;
        border-bottom: 1px solid snow;

    }
    
    .kontejner{
        color: whitesmoke;
        position: absolute;
        top: 150px;
        left: 50px;
        width: auto;
        height: auto;
    }
    .kontejner p{
        position: absolute;
        left: 0px;
        top: 200px;
        font-weight: 100;
        font-size: 20px;
    }
    


    
}